.projects
{
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
}

.projects-item
{
    clear:both;
    font-size:80%;
    border-bottom:1px solid #404040;
}

.projects-head
{
    background-color:#404040;
    color:#FFFFFF;
}

.projects-item-name,
.projects-item-descr,
.projects-item-date,
.projects-item-model,
.projects-item-calculator,
.projects-item-active,
.projects-item-edit
{
    float:left;
    padding:0.5em;
}

.projects-item-name
{
    width:22%;
    font-weight:bold;
}

.projects-item-descr
{
    width:30%;
}

.projects-item-date
{
    width:20%;
}

.projects-item-model
{
    width:5%;
}

.projects-item-calculator
{
    width:5%;
}

.projects-item-active
{
    width:5%;
}

.projects-item-edit
{
    width:5%;
}

.projects-item-control
{
    width:98%;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-end;
    margin: 0 auto;
    padding:0.25em;
}

.projects-item-control button
{
    padding:0.25em;
    color:#000000;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-color:#CCCCCC;
    border:none;
}

.projects-item-modelLink a:hover,
.projects-item-control button:hover
{
    color:#FFFFFF;
    cursor:pointer;
    background-color:#404040;
}

.projects-item-modelLink
{
    width:auto;
    margin-left:0.5em;
}

.projects-item-modelLink a
{
    width:100%;
    height:100%;
    line-height:2em;
    padding:0.25em;
    color:#000000;
    text-decoration:none;
    background-color:#CCCCCC;
}

.projects-message
{
    padding:1em;
}