.projects
{
    width:100%;
    min-width:700px;
    margin: 0 auto;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
}

.projects-item
{
    clear:both;
    font-size:80%;
    border-bottom:1px solid #CCCCCC;
    overflow:hidden;
}

.projects-head
{
    height:3em;
    background-color:#393547;
    color:#FFFFFF;
}

.projects-item-name,
.projects-item-descr,
.projects-item-date,
.projects-item-model,
.projects-item-calculator,
.projects-item-active,
.projects-item-edit,
.projects-item-project
{
    float:left;
    line-height:2em;
    padding:0.5em;
}

.projects-item-name
{
    width:32%;
    font-weight:bold;
}

.projects-item-img
{
    float:left;
}

.projects-item-project
{
    line-height:1em;
}

.projects-item-project span
{
    color:firebrick;
}

.projects-item-img img
{
    width:40px;
    height:40px;
}

.projects-item-descr
{
    width:12%;
}

.projects-item-date
{
    width:20%;
}

.projects-item-model
{
    width:8%;
}

.projects-item-calculator
{
    width:8%;
}

.projects-item-active
{
    width:8%;
}

.projects-item-edit
{
    width:5%;
}

.projects-item-control
{
    width:100%;
    float:left;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.projects-item-control input[type=submit]
{
    line-height:1.25em;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.projects-item-modelLink
{
    width:auto;
    margin-left:0.5em;
}

.projects-item-modelLink a
{
    display:block;
    text-decoration:none;
}

.projects-item-modelLink b
{
    line-height:2em;
}

.button
{
    display:inline-block;
    line-height:1.25em;
    padding:0.25rem 0.5rem;
    color:#FFFFFF;
    background-color:#8597AD;
    border:none;
    border-radius:3px;
}

.button:hover
{
    cursor: pointer;
    background: royalblue;
}

.project-itemNoModel
{
    margin-left:1em;
    line-height:2em;
    color:firebrick;
    text-align:left;
}

.projects-message
{
    padding:1em;
}

.projects-message-title
{
    padding:1em;
    color:firebrick;
    font-weight:bold;
}