# No folder index access
Options -Indexes
# tell apache to interpret .phtml extensions as php
<FilesMatch "\.ph(p[2-6]?|tml)$">
    SetHandler application/x-httpd-php
</FilesMatch>

RewriteEngine on


# Enforce trailing slashes
#RewriteCond %{REQUEST_URI} /+[^\.]+$
#RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

# Everything else
RewriteRule    ^$    web/  [L]
RewriteRule    ^(.*)$ web/$1 [L]