.login
{
    width:75%;
    height:auto;
    margin: 0 auto;
    margin-top:10%;
    text-align: center;
}

.login .title
{
    margin-top: 1em;
    padding:1em;
}

.login .title h1
{
    font-size:150%;
}

.login .image
{
    width:20%;
    height:20%;
    margin: 0 auto;
}

.login .image img
{
    max-width:100%;
    max-height: 100%;
}

.login form
{
    margin: 0 auto;
    padding:1em;
    color:#000000;
}

.login form input
{
    width:60%;
    min-width:15em;
    max-width:40em;
    margin-top:1em;
    padding:0.5em;
}

.login form input[type="submit"]
{
    margin-top:2em;
}

.login .message
{
    margin-top:0.5em;
    color:firebrick;
    font-weight:bold;
}
