.login
{
    width:75%;
    height:auto;
    margin: 0 auto;
    text-align: center;
}

.login .title
{
    margin-top: 1em;
    padding:1em;
}

.login form
{
    width:80%;
    margin: 0 auto;
    padding:2em;
    border: 1px solid #000000;
}

.login .message
{
    margin-top:1em;
}
