.models
{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width:100%;
    min-width:700px;
    margin: 0 auto;
}

.model-item
{
    clear:both;
    height: 6em;
    font-size:80%;
    border-bottom:1px solid #CCCCCC;
    overflow:hidden;
}

.model-item-model,
.model-item-project,
.model-item-status,
.model-item-valid,
.model-item-date
{
    float:left;
    line-height:2em;
    padding:0.5em;
}

.model-item-model
{
    width:25%;
    font-weight:bold;
}

.model-item-project
{
    width:28%;
}

.model-item-valid
{
    width:10%;
}

.model-item-date
{
    width:25%;
}

.model-noPreview
{
    width:100%;
    height:auto;
    margin: 0 auto;
}

.model-noPreview-title
{
    padding:1em;
    color: #FFFFFF;
    background-color: firebrick;
}

.model-noPreview-message
{
    margin-top:2em;
    padding:1em;
}