@import "common/header.css";
@import "common/dashboard.css";
@import "common/pageMenu.css";
@import "common/pageInfo.css";

@import "projects/projects.css";

@import "models/models.css";
@import "models/newModel.css";

@import "models/report.css";

@import "screenFactory/screenFactory.css";

@import "login/login.css";

@import "common/footer.css";


*
{
    padding: 0;
    margin: 0;
}

html, body
{
    clear:both;
    padding: 0;
    margin: 0;
}

a
{
    padding:0;
}

#main
{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    min-width:800px;
}

#application
{
    width:74%;
    height:100%;
    min-height:900px;
    margin: 0 auto;
    margin-bottom: 10em;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    box-shadow: inset 0px 0px 17px 1px #949292;
    -webkit-box-shadow: inset 0px 0px 17px 1px #949292;
    -moz-box-shadow: inset 0px 0px 17px 1px #949292;
    -o-box-shadow: inset 0px 0px 17px 1px #949292;
}
