@import "common/header.css";
@import "common/dashboard.css";
@import "common/pageMenu.css";
@import "common/pageInfo.css";
@import "common/home.css";

@import "projects/projects.css";
@import "projects/newProject.css";
@import "projects/projectsSettings.css";

@import "models/models.css";
@import "models/newModel.css";

@import "models/report.css";

@import "screenFactory/screenFactory.css";

@import "login/login.css";

@import "common/footer.css";


.donkerPaars
{
    color:#393547;
}
.blueberry{
    color:#404B66;
}
.lichtBlauw{
    color: #8597AD;
}
.heelLichtGrijs{
    color: #FAFAFB;
}
.viesGroen{
    color:#96C761;
}

*
{
    padding: 0;
    margin: 0;
}

html, body
{
    clear:both;
    min-width:900px;
    padding: 0;
    margin: 0;
}

a
{
    padding:0;
}

#main
{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    border-left: 10px solid #404B66;
    border-right: 10px solid #404B66;
}

#application
{
    flex: 2;
    height:100%;
    margin: 0 auto;
    margin-bottom:5rem;
}
.button
{
    display:inline-block;
    line-height:1.25em;
    padding:0.25rem 0.5rem;
    color:#FFFFFF;
    background-color:#8597AD;
    border:none;
    border-radius:3px;
}

.button:hover
{
    cursor: pointer;
    background: royalblue;
}