.element
{
    width:80%;
    min-width:600px;
    height:auto;
    margin:1em auto;
    padding:1em;
}

.elementIntro-title
{
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    font-size:110%;
}

.elementIntro-txt
{
    font-size:90%;
}

.elementIntro-subTitle
{
    padding: 1rem 0 1rem 0;
    font-weigth:bold;
}

.elementIntro-subIntro
{
    font-size:90%;
}

.elementIntro-next
{
    clear:both;
    float:right;
    margin-top:1em;
    margin-right:2em;
}

.elementIntro-next a
{
    padding:0.5rem 1rem;
    text-decoration:none;
}

.element-title
{
    padding: 1rem 0 1rem 0;
    font-weight:bold;
}

.element-documentation
{
    width:80%;
    font-size:90%;
}

.element-form
{
    width:80%;
    margin-top:2em;
    padding:1em;
    padding-bottom:3em;
    color:#000000;
    border:1px solid #CCCCCC;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.element-superForm
{
    float:left;
    width:5%;
}

.element-input-box
{
    clear:both;
    width:100%;
    padding:1em;
}

.element-input-name
{
    float:left;
    width:50%;
    font-size:90%;
}

.element-form input,
.element-form select
{
    float:left;
    padding:0.5em;
    border:none;
    border:1px solid #CCCCCC;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.element-input-hoverImg
{
    position:relative;
    float:left;
    padding:0.25em;
}

.element-input-hoverImg img
{
    width:20px;
    height:20px;
}

.element-input-hover
{
    z-index: 800;
    position:absolute;
    display:none;
    width:25rem;
    height:auto;
    left:50%;
    margin-top:2em;
    padding:1em;
    white-space: pre-line;
    font-size:80%;
    color:#FFFFFF;
    background-color: #404B66;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.element-input-hoverImg:hover + .element-input-hover
{
    display:block;
    opacity: 1;
}

.element-input-submit
{
    float:right;
    margin-top:1em;
    margin-right:1em;
}

.element-input-submit input[type=submit]
{
    padding:0.5rem 1rem;
    font-size:100%;
    border:none;
    box-shadow: none;
}

.element-input-submit a
{
    float:left;
    padding:0.5rem 1rem;
    font-size:100%;
    text-decoration:none;
}

.element-input-info
{
    float:right;
    font-size:90%;
    margin-top:1.5em;
    margin-right:1em;
}

