.element-Header
{
    clear:both;
    width:100%;
    height:3em;
    padding:0;
}

.element-Header-link
{
    float:left;
    margin-top:1.5em;
    margin-left:1em;
}

.element-Header-link a
{
    text-decoration:none;
}

.element-Header-link span
{
    font-size:90%;
    color: firebrick;
}

.element-Header-img
{
    float:right;
    width:180px;
    height:90px;
    margin-top:1em;
    margin-right:1em;
}

.element-Header-img img
{
    max-width:100%;
}

.element,
.elementIntro
{
    float:left;
    width:75%;
    min-width:600px;
    height:auto;
    margin:0 auto;
    padding:0.5rem;
}

.elementIntro
{
    padding-left:1rem;
}

.element-view
{
    float:left;
    width:20%;
}

.element-view-item
{
    font-size:90%;
    text-align:right;
}

.element-view .highlighted
{
    color:#1896CC;
}

.elementIntro-title
{
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    font-size:110%;
}

.elementIntro-txt
{
    font-size:90%;
}

.elementIntro-subTitle
{
    padding: 1rem 0 1rem 0;
    font-weigth:bold;
}

.elementIntro-subIntro
{
    font-size:90%;
}

.elementIntro-next
{
    clear:both;
    float:right;
    margin-top:1em;
    margin-right:2em;
}

.elementIntro-next a
{
    padding:0.5rem 1rem;
    text-decoration:none;
}

.element-title
{
    width:90%;
    margin: 0 auto;
    margin-top:1rem;
    padding: 1rem 0 0 0;
    font-weight:bold;
}

.element-subTitle
{
    width:90%;
    margin: 0 auto;
    font-weight:bold;
}

.element-submitted
{
    width:90%;
    margin: 0 auto;
    padding: 1rem;
    color:#000000;
    font-weight:bold;
    background-color:#AAD400;
}

.element-documentation
{
    width:90%;
    margin: 0 auto;
    font-size:90%;
}

.element-form
{
    width:90%;
    margin: 0 auto;
    margin-top:1rem;
    padding:1rem;
    padding-top:0;
    padding-bottom:1rem;
    color:#000000;
    border-bottom:1px solid #AAD400;
}

.element-superForm
{
    float:left;
    width:5%;
}

.element-input-box
{
    clear:both;
    width:100%;
    margin: 0 auto;
    overflow:hidden;
}

.element-input-box-submit
{
    clear:both;
    width:100%;
    height:3em;
    margin: 0 auto;
}

.element-input-name
{
    float:left;
    width:45%;
    padding:0.25rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    font-size:90%;
}

.element-form input[type=text],
.element-form select
{
    float:left;
    width:35%;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    padding:0.2rem;
    padding-left:1em;
    border:1px solid #AAD400;
    border-left:10px solid #AAD400;
    box-sizing: content-box;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.element-form select option
{
    padding:0.25em;
}

.element-input-hoverImg
{
    position:relative;
    float:left;
    width:5%;
    margin-top:0.6rem;
    margin-left:1rem;
}

.element-input-hoverImg:hover
{
    cursor: help;
}

.element-input-hoverImg img
{
    width:20px;
    height:20px;
}

.element-input-hover
{
    z-index: 1;
    position:absolute;
    display:none;
    width:25rem;
    height:auto;
    right:1em;
    margin-top:3.5em;
    padding:1em;
    white-space: pre-line;
    font-size:80%;
    color:#FFFFFF;
    background-color: #404B66;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.element-input-hoverImg:hover + .element-input-hover
{
    display:block;
    opacity: 1;
}

.element-input-submit
{
    float:right;
    margin-top:1rem;
    margin-right:1em;
    margin-right:0.5rem;
}

.element-input-submit input[type=submit]
{
    display:block;
    padding:0.25rem 0.5rem;
    font-size:90%;
    border:none;
    box-shadow: none;
}

.element-input-submit a
{
    display:block;
    line-height:1.15rem !important;
    border:none;
    text-decoration:none;
}

.element-input-info
{
    float:right;
    font-size:90%;
    margin-top:2.5em;
    margin-right:1em;
}

.elementOperations
{
    float:left;
    width:75%;
    min-width:600px;
    margin-top:1rem;
    padding-top:0;
    padding-bottom:1rem;
    color:#000000;
}

.elementOperation
{

}

.elementOperations-title
{
    font-weight:bold;
}

.elementOperation-name
{

}

.elementOperation-documentation
{
    padding-top:1rem;
    font-size:90%;
}