.dashboard
{
    flex: 1;
    min-height:900px;
    font-family: "Verdana", "serif";
    font-size:90%;
    overflow:hidden;
}

.border
{
    float:left;
    width:0.5%;
    min-height:850px;
    background-color:#404B66;
}
