footer
{
    clear:both;
    min-width:500px;
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    font-size:100%;
    color:#FFFFFF;
    background-color:#404B66;
}

.footer-copy
{
    float:left;
    margin-left:1rem;
    font-size:80%;
}

.footer-info {
    float: right;
    margin-right:1rem;
    font-size:80%;
}