footer
{
    clear:both;
    min-width:500px;
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:1em;
    padding-bottom:1em;
    font-size:100%;
    color:#FFFFFF;
    background-color:#404B66;
}

.footer-copy
{
    float:left;
    line-height:2.5em;
    margin-left:1em;
}

.footer-info {
    float: right;
    margin-right:1em;
}