.home
{
    width:100%;
    background: #393547;
}

.home-hero
{
    width:100%;
    height:100%;
    min-height:875px;
    margin: 0 auto;
    background-image: url("../../images/hero/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}

.home-hero-overview
{
    width:90%;
    height:auto;
    margin: 0 auto;
    margin-top:2rem;
    padding:1em;
    color:#000000;
    font-size:100%;
    background: rgba(255,255,255, 0.9);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
}

.home-hero-overview h2
{
 clear:both;
}

.home-hero-overview h2 small
{
    float:right;
    font-size:50%;
}

.home-hero-overview table
{
    width:50%;
    margin-top:2rem;
    padding:1rem;
    font-size:90%;
}

.home-hero-overview table td
{

}

.home-hero-overview table td hr
{
    margin:1rem;
}