.home
{
    width:100%;
    background: #393547;
}

.home-hero
{
    width:100%;
    height:100%;
    min-height:875px;
    background-image: url("../../images/hero/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-hero-overview
{
    position:absolute;
    width:50%;
    right:7%;
    height:auto;
    margin: 0 auto;
    margin-top: 3rem;
    padding:1em;
    color:#FFFFFF;
    font-size:100%;
    background: rgba(0,0,0, 0.8);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
}

.home-hero-overview h2 small
{
    float:right;
    font-size:60%;
}

.home-hero-overview table
{
    width:50%;
    margin-top:2rem;
    padding:1rem;
    border:1px solid #FFFFFF;
}

.home-hero-overview table td
{

}

.home-hero-overview table td hr
{
    margin:1rem;
}