.pageMenu
{
    clear:both;
    margin-bottom:0.5rem;
}

.pageMenu .title
{
    padding:0.5rem;
    padding-left:1rem;
}

.pageMenu-image
{
    float:left;
    margin-top:0.5rem;
    padding-left:1rem;
}

.pageMenu-image img
{
    width:50px;
    height:50px;
}

.pageMenu nav
{
    margin-top:0.25rem;
    margin-bottom:0.25rem;
    padding:1rem;
    overflow:hidden;
}

.pageMenu nav ul
{

}

.pageMenu nav ul li
{
   list-style-type: none;
}

.pageMenu nav ul li span
{
    line-height:1.4rem;
    font-size:80%;
}

.pageMenu nav ul li a
{
    text-decoration:none;
    font-size:80%;
}