.pageInfo
{

}

.pageInfo-title
{
    padding:0.25rem;
    padding-left:1rem;
    font-size:90%;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#393547;
}

.pageInfo p
{
    line-height:1.25rem;
    padding:1.25em;
    font-size:80%;
}

.pageInfo p img
{
    width:100px;
}

.pageInfo p span
{
    padding:0.25rem 0.5rem;
    margin-right:0.2rem;
    color:#FFFFFF;
    background-color: #404B66;
}

.pageInfo p a
{
    text-decoration:underline;
    color: #404B66;
}

.pageInfo p a:hover
{
    cursor:pointer;
    color:#000000;
}

.eaImage
{
    width:150px !important;
}

.xmlImage
{
    width: 60px !important;
    height: 60px !important;
}

.quaratioImage
 {
     width:150px !important;
 }