.pageInfo
{
    border-top:1px solid #CCCCCC;
}

.pageInfo p
{
    padding:1.25em;
    font-size:80%;

}

.pageInfo-title
{
    padding:0.25em;
    padding-left:1em;
    font-size:80%;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#404040;
}