.pageInfo
{

}

.pageInfo h3
{
    float:left;
    padding:1rem;
    padding-bottom:0;
}

.pageInfo h5
{
    clear:both;
    padding:0.5rem 1rem;
    font-weight:normal;
}

.pageInfo-dashControl
{
    float:right;
    margin:0.5rem;
}

.pageInfo-dashControl a
{
    text-decoration:none;
    font-size:90%;
}

.pageInfo-title
{
    padding:0.25rem;
    padding-left:1rem;
    font-size:90%;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#393547;
}

.pageInfo-header
{
    clear:both;
    width:100%;
    height:5rem;
}

.left
{
    float:left;
    width:4rem;
    height:3rem;
    padding:1rem;
    padding-right:0;
}

.left img
{
    height:3rem;
    max-width:100%;
}

.right
{
    float:left;
    height:3rem;
    line-height:5rem;
}

.pageInfo p
{
    display:block;
    line-height:1.25rem;
    margin-top: 1rem;
    padding:1.25em;
    padding-top:0;
    font-size:80%;
}

.pageInfo p img
{
    width:100px;
}

.pageInfo p span
{
    padding:0.25rem 0.5rem;
    margin-right:0.2rem;
    color:#FFFFFF;
    background-color: #404B66;
}

.pageInfo p a
{
    text-decoration:none;
    color: #FFFFFF;
}

.pageInfo p a:hover
{
    cursor:pointer;
}

.eaImage
{
    width:150px !important;
}

.xmlImage
{
    width: 60px !important;
    height: 60px !important;
}

.quaratioImage
 {
     width:150px !important;
    padding:0.5rem;
 }

.pageInfo-process
{
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-bottom:1rem;
}

.pageInfo-process-item
{
}

.pageInfo-process-item-number
{
    float:left;
    width:1rem;
    padding:0.25rem 0.5rem;
    margin-top:0.5rem;
    margin-left:1.5rem;
    color:#000000;
    text-align:center;
    background-color: #FFFFFF;
    border:1px solid #404040;
    border-radius:8px;
}

.pageInfo-process-item-img
{
    float:left;
    width:40px;
    margin-left:1rem;
}

.pageInfo-process-item-name
{
    float:left;
    line-height:3rem;
    padding-left:1rem;
    font-size:90%;
}

.pageInfo-process-item-name a
{
    text-decoration:none;
    font-size:90%;
}

.pageInfo-process-item-img img
{
    max-width:100%;
    max-height:100%;
}