.pageMenu
{
    clear:both;
    margin-bottom:0.5rem;
    padding-top:0.25em;
    border-top:1px solid #CCCCCC;
}

.pageMenu .title
{
    padding:0.5rem;
    padding-left:1rem;
}

.pageMenu-image
{
    float:left;
    padding-left:1rem;
}

.pageMenu-image img
{
    width:50px;
    height:50px;
}

.pageMenu nav
{
    padding:1rem;
}

.pageMenu nav ul
{

}

.pageMenu nav ul li
{
   list-style-type: none;
}

.pageMenu nav ul li a
{
    margin-left:1rem;
    text-decoration:none;
    font-size:80%;
}